# Swift / Xcode
.build/
*.xcodeproj/
*.xcworkspace/
DerivedData/
.swiftpm/
/Packages
xcuserdata/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environments
.env
.envrc
.venv
env/

# OS / Editor
.DS_Store
.vscode/

# Other
*.db

# Allow database with mockdata --> never change this file, only change the json and generate database with it
!api/tests/resources/mock.db