# Swift / Xcode
.build/
*.xcodeproj/
*.xcworkspace/
DerivedData/
.swiftpm/
/Packages
xcuserdata/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environments
.env
.envrc
.venv
env/

# OS / Editor
.DS_Store
.vscode/

# Other
*.db
